.color-model{
	background-color: #cbd4e8;
}

.color-formalism{
	background-color: #a6cee3;
}

.color-converter{
	background-color: #fa9a99;
}

.color-service{
	background-color: #a9c060;
}

.color-execution{
	background-color: #ccebc5;
}

.color-scenario{
	background-color: #fabf6f;
}

.color-project{
	background-color: #fdffb3;
}

.color-user{
	background-color: #fbed6f;
}

.color-gris{
	color : #c0c0c0;
}

.color-noir{
	color : #000000;
}

